[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml
[submodule "3p/fmt"]
	path = 3p/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3p/cereal"]
	path = 3p/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3p/googletest"]
	path = 3p/googletest
	url = https://github.com/google/googletest.git
[submodule "3p/poco"]
	path = 3p/poco
	url = https://github.com/pocoproject/poco.git
	branch = master
[submodule "3p/pugixml"]
	path = 3p/pugixml
	url = https://github.com/zeux/pugixml.git
	branch = master
[submodule "3p/rocksdb"]
	path = 3p/rocksdb
	url = https://github.com/facebook/rocksdb.git
	branch = master
[submodule "sbutils"]
	path = sbutils
	url = https://github.com/hungptit/sbutils.git
	branch = master
[submodule "graph"]
	path = graph
	url = https://github.com/hungptit/graph.git
	branch = master
